.slick-track {
    width: 155000px !important;
}

/* @media only screen and (min-width: 1350px) {
    .slick-list {
        padding-left: 300px !important;
    }
}

@media only screen and (min-width: 1576px) {
    .slick-list {
        padding-left: 400px !important;
    }
} */

.slick-prev:before,
.slick-next:before {
    font-size: 40px !important;
}

.slick-prev:before {
    content: url('../../assets/images/left-arrow.png') !important;
}

.slick-next:before {
    content: url('../../assets/images/right-arrow.png') !important;
}