@import '../../lib/style/theme.scss';

.Hero {
    background-color: $gray;
    margin-top: 40px;

    &-Header {
        display: flex;
        padding: 0 20px;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        margin-bottom: 48px;
    }

    &-HeaderLogo {
        font-family: 'Inter', sans-serif;
        color: $black;
        font-weight: 400;
        font-size: 38px;
        margin-right: 50px;
        margin-top: 30px;
    }

    &-HeaderImage {
        display: none;
    }

    &-Image {
        height: 300px;
        object-fit: cover;
    }

    &-Figure {
        margin: 0 10px;
    }

    @media screen and ($tablet) {
        &-HeaderImage {
            display: block;
            width: 280px;
            height: 64px;
            object-fit: cover;
        }
    }

    @media screen and ($desktop) {
        &-Header {
            justify-content: flex-start;
            padding: 0 190px 0 195px;
            max-width: 1024px;
        }

        &-HeaderLogo {
            font-size: 68px;
            line-height: 116px;
            margin-right: 110px;
            margin-top: 20px;
        }

        &-HeaderImage {
            width: 497px;
            height: 110px;
        }
    }

    @media screen and ($desktopLarge) {
        &-Header {
            padding: 0 240px 0 255px;
            max-width: 1440px;
            margin-bottom: 60px;
        }

        &-HeaderLogo {
            font-size: 96px;
            margin-top: 40px;
        }

        &-HeaderImage {
            width: 714px;
            height: 159px;
        }

        &-Figure {
            max-width: 1280px;
        }
    }

    @media screen and ($desktopExtraLarge) {
        &-Header {
            padding: 0 310px 0 335px;
            max-width: 1580px;
        }

    }
}