.slick-prev:before,
.slick-next:before {
    font-size: 40px !important;
}

.slick-prev:before {
    content: url('../../assets/images/left-arrow.png') !important;
}

.slick-next:before {
    content: url('../../assets/images/right-arrow.png') !important;
}

.slick-dots {
    bottom: 4px !important;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: 0 !important;
}